@{
    var viewPath = ViewContext.View.Path;
    viewPath = viewPath.Substring(0, viewPath.IndexOf('.'));
    var jsPath = $"{viewPath}.js";
    var cssPath = $"{viewPath}.css";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PamelloV6.ClientASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PamelloV6.ClientASP.styles.css" asp-append-version="true" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/default.js" asp-append-version="true"></script>
    <script src="~/js/ajax.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <div>
        <main class="pb-3">
            <link rel="stylesheet" href="~/css/@cssPath" asp-append-version="true" />
            @RenderBody()
        </main>
    </div>
    <script src="~/js/@jsPath" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
