<div class="main-container">
    <div class="main-subcontainer main-subcontainer-left">
        @if (api.authorizedUser != null) {
            <app-player-selection class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
        
        @if (api.authorizedUser != null) {
            <app-player-controls class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
        <div *NgIf="true; else elseBlock">asdasdasdasd</div>
        <ng-template #elseBlock>kfkfkfkfkfkff</ng-template>
        @if (api.authorizedUser != null) {
            <app-multipage class="controller-item">
                <app-page header="log">
                    <div>first page</div>
                </app-page>
                <app-page header="episodes">
                    <div>secaa page</div>
                </app-page>
                <app-page header="playlists">
                    <div>thitadfa page</div>
                </app-page>
            </app-multipage>
        } @else {
            <app-reqire-authorization/>
        }
        <app-user-authorization class="controller-item"/>
    </div>
    <div class="main-subcontainer main-subcontainer-right">
        @if (api.authorizedUser != null) {
            <app-player-queue class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
        @if (api.authorizedUser != null) {
            <app-song-addition class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
    </div>
</div>
