<div class="main-container">
    <div class="main-subcontainer main-subcontainer-left">
        @if (api.authorizedUser != null) {
            <app-player-selection class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
        
        @if (api.authorizedUser != null) {
            <app-player-controls class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
        <div *NgIf="true; else elseBlock">asdasdasdasd</div>
        <ng-template #elseBlock>kfkfkfkfkfkff</ng-template>
        @if (api.authorizedUser != null) {
            <app-multipage class="controller-item" [pages]="['Speakers', 'Episodes', 'Log']">
                <div page-0>
                    Speakers
                </div>
                <div page-1>
                    Episodes
                </div>
                <div page-2>
                    Log
                </div>
            </app-multipage>
        } @else {
            <app-reqire-authorization/>
        }
        <app-user-authorization class="controller-item"/>
    </div>
    <div class="main-subcontainer main-subcontainer-right">
        @if (api.authorizedUser != null) {
            <app-player-queue class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
        @if (api.authorizedUser != null) {
            <app-song-addition class="controller-item"/>
        } @else {
            <app-reqire-authorization/>
        }
    </div>
</div>
