@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/ajax.js"></script>
<script>
    function Try() {
        GetUser(1, function (user) {
            console.log(user)
            $("#hehe").append(user.discordId);
        })
    }
</script>

<div class="text-center">
    <h1 class="display-4" id="hehe">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button onclick="Try()">try</button>
</div>
