:host {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);

    background-color: white;
}

.speakers-list {
    overflow-y: scroll;
    overflow-x: hidden;

    app-player-speaker {
        margin: 2px;
    }
}
