.queue-song-container {
	display: grid;
	grid-template-columns: 1fr auto;

    height: 32px;

    font-size: 16px;
	font-weight: 500;

	color: #646464;
	background-color: #F0F0F0;

    &:hover .queue-song-hidden-container {
        display: grid;
    }
    &-current {
        background-color: #646464;
        color: #E0E0E0;
        cursor: default;
    }
}

.queue-song-info-container {
    display: flex;

    .queue-song-next-decorator {
        display: none;
        flex-direction: column;
        justify-content: center;
    
        color: #E0E0E0;
        background-color: #646464;
    
        padding: 0px 7px;
        margin: 4px;
        margin-right: 0px;
        
        font-size: 14px;
        font-weight: 500;
    }
    .queue-song-title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        flex-grow: 1;

        font-size: 17px;
        padding: 3px 6px;
    }
}

.queue-song-hidden-container {
    display: none;
    grid-template-columns: auto auto;

    margin: 2px;

    button {
        margin: 2px;
    }
}

.queue-song-container {
    .queue-song-info-container {
        cursor: pointer;
    }

    &-current {
        .queue-song-info-container {
            cursor: default;
        }
    }
}
