<div class="song-drop-zone"
	[ngClass]="{
		'song-drop-zone-over': isOverDropZone
	}"
	(dragover)="DragZoneOver($event)"
	(dragleave)="DragZoneLeave($event)"
	(drop)="DragZoneDrop($event)"
>
	<div class="song-drop-zone-decorator" [ngStyle]="{
		'height': dropZoneHeight + 'px'
	}"></div>
</div>
<div class="reorder-item-container" draggable="true"
	[ngStyle]="{
		'margin': '0px ' + dropZoneHeight + 'px'
	}"
	(dragstart)="DragStart($event)"
	(dragover)="DragOver($event)"
	(drop)="DragDrop($event)"
>
	<ng-content></ng-content>
</div>
