<div class="reorder-item-container">
	<div class="reorder-item-container" [draggable]="isDragable" (dragstart)="DragStart($event)">
		<ng-content></ng-content>
	</div>
	<div class="drop-zones-container" [ngStyle]="{
		'background-color': (!doDisplayDropZoneLines && (displayTopDropLine || displayBottomDropLine)) ? '#FF634724' : 'transparent'
	}">
		<div class="drop-zone drop-zone-top">
			<div class="drop-zone-line drop-zone-line-top" [ngStyle]="{
				'display': doDisplayDropZoneLines && displayTopDropLine ? 'block' : 'none'
			}"></div>
		</div>
		<div class="drop-zone drop-zone-bottom">
			<div class="drop-zone-line drop-zone-line-bottom" [ngStyle]="{
				'display': doDisplayDropZoneLines && displayBottomDropLine ? 'block' : 'none'
			}"></div>
		</div>
	</div>
</div>