<div class="multipage-page-headers-container">
    @for (pageHeader of pages; track $index) {
        <div [ngClass]="{
            'page-header-container-selected': selectedPage == $index
        }" class="page-header-container" (click)="selectedPage = $index">
            {{pageHeader}}
        </div>
    }
</div>
<div class="multipage-page-content-container">
    @for (child of children; track $index) {
        <div [style]="{
            'display': selectedPage == $index ? 'grid' : 'none'
        }" [innerHtml]="safeHtml(child.nativeElement.innerHTML)"></div>
    }
</div>
