:host {
    display: grid;
    grid-template-rows: 1fr 2px auto;
}

.queue-controls-container {
    display: flex;
    justify-content: space-between;
    
    margin: 4px;

    .queue-controls-subcontainer {
        &-left button {
            margin-right: 4px;
        }
        &-right button {
            margin-left: 4px;
        }
    }
}

.queue-list-container {
    display: grid;
}

app-reorder-item {
    margin: 8px 0px;
}