<div class="inspector-header-container">
    <div class="inspector-image-container" [style]="{'display': displayStyle == 'Song' ? 'grid' : 'none'}">
        <img [src]="inspectedSong?.coverUrl"/>
        <div class="gray-separator"></div>
    </div>
    <div class="inspector-info-container">
        <div class="inspector-info-top-container">
            @if (displayStyle == "Song") {
                <div class="inspector-title">{{inspectedSong?.title}}</div>
                <div class="inspector-subtitle">{{inspectedSong?.author}}</div>
            }
            @else if (displayStyle == "Playlist") {
                <div class="inspector-title">{{inspectedPlaylist?.name}}</div>
            }
        </div>
        <div class="inspector-info-bottom-container">
            @if (displayStyle == "Song") {
                <div class="inspector-addition-info-left">Plays: {{inspectedSong?.playCount}}</div>
                <div class="inspector-addition-info-right">Id: {{inspectedSong?.id}}</div>
            }
            @else if (displayStyle == "Playlist") {
                <div class="inspector-addition-info-left">Songs: {{inspectedPlaylist?.songIds?.length}}</div>
                <div class="inspector-addition-info-right">Id: {{inspectedPlaylist?.id}}</div>
            }
        </div>
    </div>
</div>
<div class="gray-separator"></div>
<div class="inspector-list-container">
    @if (displayStyle == "Playlist") {
        <app-reorder-list>
            @for (song of songs; track $index) {
                <app-reorder-item key="{{$index}}" [dropZoneHeight]="2">
                    <app-mini-song [song]="song" [displayRemoveButton]="true" (selected)="InspectSong($event)" (removeClick)="RemovePlaylistSongAt($index)"/>
                </app-reorder-item>
            }
        </app-reorder-list>
    }
    @else if (displayStyle == "Song") {
        <app-multipage class="controller-item" [pages]="['Episodes', 'playlists']" [selectedPage]="0">
            <div page-0 class="inspector-list-page-container">
                <div class="inspector-list-addition">
                    <input type="text" name="song-new-episode-input" [(ngModel)]="newEpisodeNameInput"/>
                    <button class="default-button mini-button" (click)="AddEpisodeToSong()">Add episode</button>
                </div>
                <div class="gray-separator"></div>
                <div class="inspector-list">
                    @for (episode of episodes; track $index) {
                        <app-mini-episode [episode]="episode" [displayRemoveButton]="true"/>
                    }
                </div>
            </div>
            <div page-1 class="inspector-list-page-container">
                <div class="inspector-list-addition">
                    <input type="text" name="song-new-playlist-input" [(ngModel)]="newPlaylistNameInput"/>
                    <button class="default-button mini-button" (click)="AddPlaylistToSong()">Add playlist</button>
                </div>
                <div class="gray-separator"></div>
                <app-reorder-list>
                    @for (playlist of playlists; track $index) {
                        <app-reorder-item key="{{$index}}" (moved)="MovePlaylistSong($event)" (swapped)="SwapPlaylistSong($event)" [dropZoneHeight]="2">
                            <app-mini-playlist [playlist]="playlist" [displayRemoveButton]="true" (selected)="this.InspectPlaylist($event)" (removeClick)="SongRemovePlaylist($event)"/>
                        </app-reorder-item>
                    }
                </app-reorder-list>
            </div>
        </app-multipage>
    }
    
    
    <!--
    <div class="gray-separator"></div>
    <div class="inspector-controls-container">
        
    </div>

    <div class="inspector-list">
        @if (displayStyle == "Playlist") {
            @for (song of songs; track $index) {
                <app-mini-song [song]="song" [displayRemoveButton]="true" (selected)="InspectSong($event)"/>
            }
        }
        @if (displayStyle == "Song") {
            @for (episode of episodes; track $index) {
                <div>{{episode.name}}</div>
            }
            @for (playlist of playlists; track $index) {
                <app-mini-playlist [playlist]="playlist" [displayRemoveButton]="true" (selected)="InspectPlaylist($event)"/>
            }
        }
    </div>
    -->
</div>
