<div class="search-results-list-container">
    @if (currentCategoryLabel == "Songs") {
        @for (song of songsResults.results; track $index) {
            <app-reorder-item class="search-results-item"
                [isDragable]="true"
                
                itemSourceName="search"
                itemName="song"

                [itemId]="song.id"
            >
                <app-mini-song [song]="song" [displayAddToPlaylistButton]="displayAddToPlaylistButton" (selected)="selectedSongChanged.emit($event)" (addToPlaylistClick)="addSongToPlaylistClick.emit($event)"/>
            </app-reorder-item>
        }
    }
    @else if (currentCategoryLabel == "Playlists") {
        @for (playlist of playlistResults.results; track $index) {
            <app-reorder-item class="search-results-item"
            [isDragable]="true"

            itemSourceName="search"
            itemName="playlist"

            [itemId]="playlist.id"
            >
                <app-mini-playlist [playlist]="playlist" (selected)="selectedPlaylistChanged.emit($event)" [displayRemoveButton]="true" (removeClick)="RemovePlaylist($event)"/>
            </app-reorder-item>
        }
    }
</div>
<div class="gray-separator"></div>
<div class="search-controls-container">
    <div class="pages-controls-container">
        <button class="default-button" (click)="PrevPage()">Prev</button>
        <div class="pages-labels-container">
            <div>{{currentResults.pagesCount != 0 ? currentResults.page + 1 : 0}} / {{currentResults.pagesCount}}</div>
        </div>
        <button class="default-button" (click)="NextPage()">Next</button>
    </div>
    <div class="gray-separator"></div>
    <input class="default-input" placeholder="Search request" (input)="setQ($event)" />
    <div class="gray-separator"></div>
    <div class="button-container">
        <button class="default-button" (click)="Search()">Search</button>
    </div>
    <div class="gray-separator"></div>
    <div class="button-container">
        <button class="default-button" (click)="SwitchCategory()">{{currentCategoryLabel}}</button>
    </div>
</div>
